<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--CIDITEST - DESARROLLO-->
		<!--<add key="CiDiKeyAplicacion" value="47A746670666D71316661714659777A594739486B72"/>
    
    <add key="CiDiPassAplicacion" value="S1fC0s_i4g"/>
    <add key="CiDiIdAplicacion" value="152"/>

    <add key="Url_Retorno" value="http://localhost.cba.gov.ar:1667/Inscripcion.aspx"/>

    <add key="CiDiUrl" value="https://cidi.test.cba.gov.ar/Login.aspx"/>
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.test.cba.gov.ar/"/>                                  
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.test.cba.gov.ar"/>
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.test.cba.gov.ar/"/>
    <add key="CiDiUrlAPIMobile" value="https://mobilecidi.test.cba.gov.ar/"/>
    <add key="CiDiUrlRelacion" value="https://cidi.test.cba.gov.ar/relacion/appseleccion"/>-->
		<!--CIDI - PRODUCCION-->
		<add key="CiDiKeyAplicacion" value="B4F4E71523772716A5A52353437626E416B6B57494C"/>
		<add key="CiDiPassAplicacion" value="sifcos_commerce"/>
		<add key="CiDiIdAplicacion" value="152"/>
		<add key="Url_Retorno" value="sifcos.cba.gov.ar/SifcosWeb3.aspx"/>
		<add key="CiDiUrl" value="https://cidi.cba.gov.ar/Login.aspx"/>
		<add key="CiDiUrlAPICuenta" value="https://cuentacidi.cba.gov.ar/"/>
		<add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.cba.gov.ar"/>
		<add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.cba.gov.ar/"/>
		<add key="CiDiUrlAPIMobile" value="https://mobilecidi.cba.gov.ar/"/>
		<add key="CiDiUrlRelacion" value="https://cidi.cba.gov.ar/relacion/appseleccion"/>
		<!--otras keys-->
		<add key="VerificarMail" value="1"/>
		<add key="VerificarRubro" value="1"/>
		<add key="VersionProducto" value="8.0"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;"/>
		<add key="Id_Usuario" value="20330415887"/>
		<add key="Id_Ubicacion_Fisica" value="1"/>
		<add key="Cuil_Cuit_CiDi" value="20330415887"/>
		<!-- ///////////////////// CONFIGURACIONES Web Api CDD TESTING/////////////////////////////////-->
		<!--<add key="Id_App" value="1061" />
    
    <add key="Pwd_App" value="S1FcoS-CDd" />
    
    <add key="Key_App" value="57YRTMA8V78F3MKLZVG8IYNUVDI51XBD" />-->
		<!-- ///////////////////// CONFIGURACIONES Web Api CDD PRODUCCIÓN/////////////////////////////////-->
		<add key="Id_App" value="1061"/>
		<add key="Pwd_App" value="S1FcoS-CDd_PRod"/>
		<add key="Key_App" value="3OADAOV5FE0S888ULARBNLKI8TD0BW7M"/>
		<add key="Id_Usuario" value="20330415887"/>
		<add key="Id_Ubicacion_Fisica" value="1"/>
		<add key="Cuil_Cuit_CiDi" value="20330415887"/>
		<!--Tipo de documentacion archivo de habilitacion municipal-->
		<add key="Id_Tipo_Documento" value="7"/>
		<!--Tipo de documentacion archivo de documento denuncia-->
		<add key="Id_Tipo_DocumentoDenuncia" value="4416"/>
		<!--Tipo de documentacion archivo de documento foto oblea-->
		<add key="Id_Tipo_DocumentoFotoOblea" value="4415"/>
		<add key="Nombre_Tipo_Documento" value=""/>
		<add key="DimChunkArchivo" value="3"/>
		<add key="PesoMBLimiteAProcesar" value="10"/>
		<add key="Formatos_Permitidos" value="pdf,jpg,jpeg,png,tif,tiff,doc,docx,xls,xlsx,rar,zip"/>
		<add key="Path_Documentos" value="\Documentacion\"/>
		<add key="Path_Document_Img" value="\Documentacion\Doc_Imagen.jpg"/>
		<add key="Path_Document_Pdf" value="\Documentacion\Doc_Pdf.pdf"/>
		<add key="Entorno" value="produccion"/>
		<!--<add key="Entorno" value="desarrollo" />-->
		<!--  Web Api CDD -->
		<!--<add key="Url_WebApi_CDD_Desarrollo" value="https://apidocumentoscdd.test.cba.gov.ar/" />-->
		<add key="Url_WebApi_CDD_Produccion" value="https://apidocumentos.cba.gov.ar/"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString.SIFCOS_CBA1D" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=d250aixde07.gobiernocba.gov.ar)(PORT=1521)))  (CONNECT_DATA =  (SID = cba1d)  )  );User Id=sifcos;Password=sifcos;"/>
		<add name="ConnectionString.INDUSTRIA_CBA1D" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = d250aixde07.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1d)));User Id=INDUSTRIA;Password=industria;"/>
		<add name="ConnectionString.RUAMI_CBA1D" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = d250aixde07.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1d)));User Id=RUAMI;Password=ruami;"/>
		<add name="ConnectionString.ALIMENTOS_CBA1D" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = d250aixde07.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1d)));User Id=ALIMENTOS;Password=Al1m3nt0S;"/>
		<add name="ConnectionString.SIFCOS_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_SIFCOS;Password=S1fc0s_pr0duc;"/>
		<add name="ConnectionString.INDUSTRIA_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_INDUSTRIA;Password=Indus_pr0duc;"/>
		<add name="ConnectionString.RUAMI_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_MINERIA;Password=mineria;"/>
		<add name="ConnectionString.ALIMENTOS_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_ALIMENTOS;Password=ALW6@!ya38^L!x!h;"/>
		<add name="ConnectionString.PERSONAL_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=D28657776;Password=D28657776;"/>
		<add name="ConnectionString.PROMIND_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_PROM_INDUSTRIAL;Password=Apl1c4_pr0m1ndus;"/>
		<add name="ConnectionString.SIGAL_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_SIGAL;Password=USR_SIGAL;"/>
		<add name="ConnectionString.CONTROL_MICYM_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_CONSULTAS_TASAS_IND;Password=USR_CONSULTAS_TASAS_IND;"/>
		<add name="ConnectionString.PROMO_COMERCIAL_CBA1" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = cba1.gobiernocba.gov.ar)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = cba1)));User Id=USR_CONSULTAS_TASAS_IND;Password=USR_CONSULTAS_TASAS_IND;"/>
	</connectionStrings>
  <system.web>
	<customErrors mode="Off"/>
	<sessionState timeout="10"/>
	<globalization enableClientBasedCulture="true" uiCulture="es" culture="es-AR"/>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="Inicio.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>